.skill-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 180px;
    height: 240px;
    border: 1px solid var(--border-color);
    border-radius: 100px;
}
.skill-card-icon{
    color:  var(--tertiary-color);
}
.skill-card-text{
    font-size: 35px;
    color: var(--secondary-color);
}